<section id="sign_up">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "form_field", required: true  %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form_field", required: true  %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password   #{@minimum_password_length} (characters minimum)", class: "form_field", required: true %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form_field", required: true %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Sign up", class: "app_button green_button" %>
  </div>
<% end %>

<div class="other_links">
  <%= render "devise/shared/links" %>
</div>
</section>