<section class="groups">
  <div class="header-sign-out">
   <h3>Categories</h3>
   <p>
    <%= link_to "🚪",  destroy_user_session_path, method: :delete %>
   </p> 
  </div>
  <div class="group-list">
   <% @groups.each do |group| %>
   <%= link_to group, class:"group_link" do %>
   <div class="group">
    <div class="name-icon">
      <span>
        <%= group.icon %>
      </span> 
      <h4>
        <%= group.name %>
      <h4>
    </div>  
      <span>
        $  <%= group.total_amount %>
      </span>
    </div>
    <br>  
    <% end %>
  <%end%>
  </div>
  <button class="btn">
    <%= link_to "New Category", "/groups/new" %>
  </button>
</section>