<section class="groups">
<div class="header-sign-out">
    <%= link_to " < ", "/groups" %>
  <h1>new expense</h1>
   <p>
    <%= link_to "Sign Out",  destroy_user_session_path, method: :delete %>
   </p> 
  </div>
<%= form_with(model: [@group, @expense]) do |form| %>
  <div class="field">
    <%= form.text_field :name, value: @expense.name, placeholder: "Name", required: true, class: "form_field" %>
  </div>

  <div class="field">
    <%= form.text_field :amount, value: @expense.amount, placeholder: "Amount", type: "float", required: true, class: "form_field" %>
  </div>

  <div class="actions_expense">
    <%= form.submit "Save", class: "app_button green_button" %>
  </div>
<% end %>
</section>

